body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
    padding: 50px;
}

.circle{
    position: absolute;
    background-color: orange;
    padding: 100px;
    padding-top: 120px;
    border-radius: 100%;
    bottom: 80vh;
    right: 92vw;
}
.circle #close{
}

.circle #close{
    position: relative;
    top: 60px;
    left: 60px;
}
.circle #options{
    position: relative;
    left: 30px;
    bottom: 60px;
}