body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gray
}

.container{
    width: 100%;
    min-height: 100vh; /*limita un minimo*/
    background-color: beige;
    margin: auto;
    transition: transform 0.5s linear;

}
.content{
    max-width: 1000px; /*limita un maximo*/
    padding: 20px 100px 100px 100px;
    margin: auto;
}

.circle-container{
    position: fixed; /*this*/
    top: -100px;
    left: -100px;
}
.circle{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100%;
    transition: transform 0.5s linear;
}


.circle #close{
    position: absolute;
    top: 120px;
    right: 120px;
    cursor: pointer;
    
}
.circle #options{
    position: absolute;
    top: 120px;
    left: 120px;   
    cursor: pointer; 
}
ul{
    list-style-type: none;
    position: fixed;
    bottom: 100px;
    left: -500px; /*to -20px*/
    transition: left 0.5s; 
}
ul img{
    margin-right: 20px;
}

.l1{
    padding-left: 20px;
}
.l2{
    padding-left: 40px;
}
.l3{
    padding-left: 60px;
}

