body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
    padding: 50px;
}

.circle-container{
    position: fixed; /*this*/
    top: -100px;
    left: -100px;
}
.circle{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 100%;
}
.circle #close{
}

.circle #close{
    position: absolute;
    top: 120px;
    left: 120px;
    
}
.circle #options{
    position: absolute;
    top: 50px;
    left: 120px;
}